$wrapperWidth: 1000px;

.grid-wrap { overflow: hidden; }
.grid { margin-left: -20px; }
.grid.centered {
	@include justify-content( center );
}
.grid:after { content:" ";display:block;height:0;line-height:0;clear:both;visibility:hidden;overflow:hidden}
.col { padding-left: 20px; float: left; padding-bottom: 20px; }
.col>.item,
.col>div { width: 100%; display:block;}

.vcenter,
.col>.vcenter {
	@include display( flex );
	@include align-items( center );
}

.vcenter>div,
.col>.vcenter>div { max-width: 100%; }

.flexbox .grid.fill>.col { 
	max-width: 50%; 
	@include flex-grow(1);
}

.grid.nopad { margin-left:0; }
.grid.nopad>.col { padding: 0; }
.grid.pad10 { margin-left: -10px; }
.grid.pad10>.col { padding-left: 10px; padding-bottom: 10px; }
.grid.pad5 { margin-left: -5px; }
.grid.pad5>.col { padding-left: 5px; padding-bottom: 5px; }

.grid.eqh { 
	@include flex-wrap(wrap);
}

.grid.eqh,
.grid.eqh>.col,
.grid.eqh>.col>.item,
.grid.eqh>.col>div {
	@include display(flex);
}

.col-6 { width: 16.6666667%; }
.col-5 { width: 20%; }
.col-4 { width: 25%; }
.col-3 { width: 33.333333%; }
.col-2 { width: 50%; }
.col-1 { width: 100%; }
.col-2-3 {  width: 66.666667%;}

@media screen and (max-width: 900px) {
	.col-900-6 { width: 16.6666667%; }
	.col-900-5 { width: 20%; }
	.col-900-4 { width: 25%; }
	.col-900-3 { width: 33.333333%; }
	.col-900-2 { width: 50%; }
	.col-900-1 { width: 100%; }
	.col-900-2-3 {  width: 66.666667%;}
}

@media screen and (max-width: 750px) {
	.sm-col-6 { width: 16.6666667%; }
	.sm-col-5 { width: 20%; }
	.sm-col-4 { width: 25%; }
	.sm-col-3 { width: 33.333333%; }
	.sm-col-2 { width: 50%; }
	.sm-col-1 { width: 100%; }
	.sm-col-2-3 {  width: 66.666667%;}
}

@media screen and (max-width: 500px) {
	.xs-col-6 { width: 16.6666667%; }
	.xs-col-5 { width: 20%; }
	.xs-col-4 { width: 25%; }
	.xs-col-3 { width: 33.333333%; }
	.xs-col-2 { width: 50%; }
	.xs-col-1 { width: 100%; }
	.xs-col-2-3 {  width: 66.666667%;}
}

.no-flexbox .grid.collapse-no-flex>.col { width: 100% !important; }