/* header */
header { background: url(../images/header-bg.png) center repeat; height: 128px; position: absolute; top:0; left:0; right:0; z-index:4;}
header .sw { }

header .logo { display: block; position: absolute; top: 35px; left: 20px; width: 160px; }
.logo img { width: 100%; }

#mobile-book { display: none; text-align: center; padding: 12px; position: absolute; top: 14px; right: 8px; z-index: 21; text-transform: uppercase; color: #fff; font-size: 13px; background: $darkBlue; border: solid #fff; border-width: 1px 1px 0; }
#mobile-nav { position: absolute; top: 12px; left: 10px; background: $darkBlue; border: 1px solid #fff; font-size: 28px; height: 40px; width: 40px; z-index: 21; outline: none; display: none; color: #fff; }
#mobile-nav:before { margin-top: -14px; }