/* footer */
footer { background: url(../images/header-bg.png); color: #fff;}
footer .logo { width: 105px; display:block; margin: 0 0 60px;}
footer .logo img { width: 100%; }

.footer-wrap { margin-right: 220px; }

.footer-contact { font-size: 12px; color: #dcddde; float:right; padding: 30px 0 20px 60px; width: 220px;}
.footer-contact address { margin-bottom: 20px;}
.footer-contact a { color: #dcddde; text-decoration: underline;}
.footer-contact a:hover { text-decoration: none; }

.footer-contact .phones { margin-bottom: 10px;}

.footer a { color: #fff; }
.footer-nav { position: relative; margin-bottom: 100px;}
.footer-nav>ul { display: table; width: 100%; text-transform: uppercase; font-size: 12px; text-align: center;}
.footer-nav>ul>li { display: table-cell; border-style: solid; border-width: 0 1px 0 0; vertical-align: middle;
	@include property-with-rgba( border-color, #fff, 0.4 );
}
.footer-nav>ul>li>a { color: #fff; padding: 50px 15px 15px; display: block; 
	@include transition( background-color 0.15s $ease-in-out-sine );
}
.footer-nav>ul>li>a:hover { 
	@include property-with-rgba( background-color, #082231, 0.5 );
}


.footer-hotels { position: relative; }
.footer-hotels ul { display: table; width: 100%;}
.footer-hotels li { display: table-cell; max-width: 100px;}
.footer-hotels li a { display: block; padding: 0 10px; vertical-align: top; height:50px;}
.footer-hotels span { display: block; font-size: 10px; color: #dcddde; text-transform: uppercase;}

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; padding: 25px 0 0; background: url(../images/jac-we-create.png) 0 0 no-repeat; background-size: 186px 50px; z-index: 10;
	@include transition( background $ease-in-out-sine 0.15s );
}
#jac:hover { background-position: 0 bottom; }
.twox #jac { background-image: url(../images/jac-we-create@2x.png); }
.threex #jac { background-image: url(../images/jac-we-create@3x.png); }

.copyright { position: relative; border-top: 1px solid; font-size: 10px; text-transform: uppercase; color: #fff; padding: 20px 0; cursor: default; margin-top: 10px; clear: both;
	@include property-with-rgba( border-color, #fff, 0.4 );
}
.copyright .social { position: absolute; top:50%; left:0; right:0; text-align: center; margin-top: -10px;}
.copyright a { color: #fff; 
	@include transition( color 0.15s $ease-in-out-sine );
}
.copyright a:hover { color: #dadada;}
.copyright ul { position: relative; z-index: 10; display: inline-block;}
.copyright li { display: inline-block; border-left: 1px solid #fff; margin-right: -0.25em; margin-left: 5px; padding-left: 5px; line-height: 1;}
.copyright li:first-child { margin-left:0; padding:0; border: none; }