/* headings */
h1,h2,h3,h4,h5,h6 { line-height: 1.2; font-weight: normal; margin: 5px 0; font-family: $defaultFontStack;}

.hgroup { margin: 0 0 30px; }
.hgroup h1,
.hgroup h2,
.hgroup h3,
.hgroup h4,
.hgroup h5,
.hgroup h6,
.hgroup span { margin:0; }

h1,.h1-style,
h2,.h2-style,
h3,.h3-style,
h4,.h4-style,
h5,.h5-style,
h6,.h6-style { display: block; font-family: $defaultFontStack; text-transform: uppercase; font-weight: 300;}

.h1-style,
.page-title,
h1 { font-size: 28px; }
.h2-style,
h2 { font-size: 24px; }
.h3-style,
h3 { font-size: 20px; }
.h4-style,
h4 { font-size: 18px; }
.h5-style,
h5 { font-size: 16px; }
.h6-style,
h6 { font-size: 14px; }

.section-header { margin: 0 auto 20px; display: block; max-width: 500px; text-align: center; }
.hgroup .title,
.section-header .title { color: $darkBlue; }
.hgroup .subtitle,
.section-header .subtitle { color: $lightGrey !important; }

.dark-bg .hgroup .title,
.dark-bg .section-header .title { color: #fff; }

.blocks .hgroup { margin:0; }