@import "4.2.0-gmap";
@import "4.2.1-article";
@import "4.2.2-forms";
@import "4.2.3-accordion";
@import "4.2.4-custom-dropdown";
@import "4.2.5-responsive-video";
@import "4.2.6-social";
@import "4.2.7-hero";
@import "4.2.8-dateinput";
@import "4.2.9-tabs";

/* fa defaults */
.fa { font-family: $defaultFontStack; }
.fa:before { font-family: FontAwesome; }
.fa-abs { position: relative; text-indent: -999em; overflow: hidden; }
.fa-abs:before { position: absolute; top: 50%; left:0; right:0; text-align: center; z-index: 2; text-indent:0; line-height:1; margin-top: -7px;}

.phones { width: 150px; }

.logo-wrap { padding: 25px; margin: 0 0 15px; border: 1px solid #fff;}
.logo-wrap img { width: 100%; }

.split-screen { background: #fff center center repeat-y; padding: 20px 0;}
.split-screen.with-border { border: solid #e5e5e5; border-width: 1px 0; position: relative;}
.split-screen.with-border:after { position: absolute; left: 50%; border-left: 1px solid #e5e5e5; content:""; top:0; bottom:0;}
.split-screen.dark-right { background-image: url(../images/split-screen-dark-right.png); }
.split-screen.dark-left { background-image: url(../images/split-screen-dark-left.png); }
.split-screen-grid>.col-2+.col-2>div { padding-left: 20px; }

/* arrow buttons */
.arrow-button { display: inline-block; width: 40px; height: 40px; color: #fff; border-radius: 20px; background: $darkBlue; }
.arrow-button:before { font-size: 28px; margin-top: -14px; line-height:1; }
.arrow-button:hover,
.arrow-button.hovered { background: $blue; }
.arrow-button.disabled { background: $lightGrey !important; }

.dark-bg .arrow-button { color: $darkBlue; background: #fff;}
.dark-bg .arrow-button:hover,
.dark-bg .arrow-button.hovered { background: $blue; }
.dark-bg .arrow-button.disabled { background: darken($darkBlue,5) !important; }

/* datepicker theme-sepcific */
.datepickerDays .actualDatepickerSelected,
.datepickerDays .linkedDate { background: $blue; }

.phones .block { position: relative; display: block; text-align: right;}
.phones .block span { position: absolute; top:0; left:0;}

/* custom input */
.custom-input {position: relative; overflow: hidden; display: inline-block; color: #fff; }
.custom-input span { display: inline-block;}
.custom-input input { position: absolute; left: -100px; top: -100px; }
.custom-input input[type=radio]:focus+span { outline: 1px solid rgba(76,114,239,0.4); }
.custom-input input[type=radio]+span:before { margin:0 4px;}

/* reservation form */
#mobile-book { display: none;}
.reservations { position:  absolute; top: 0; left: 0; right: 0; z-index:  5; }
.reservations form {position: absolute; top: 228px; left:0; width: 280px; padding: 15px; color: #939598; text-transform: uppercase; font-size: 12px;
	@include property-with-rgba( background, $darkBlue, 0.85 );
}

.reservations .date.input { font-family: $defaultFontStack; text-indent:0;}
.reservations .date.input span.input-label { line-height:1.6; left: 30px; }
.reservations .date.input:before { right:auto; font-family: FontAwesome; color:#95979a; font-size: 18px; line-height:1; margin-top: -9px; left: 10px;}

.reservations .datepicker.appended { left: 100% !important; right: auto !important; margin-left: -50px !important; top: -10px !important; z-index: 100;
	@include transform( translateZ(0) );
}
.reservations fieldset .col { position: relative; }
.reservations.calendar-focused .fields-wrap { overflow: visible; }
.reservations .add-room { cursor: pointer; color: #fff; margin-left: 5px;}
.reservations .add-room:before { margin-right: 5px;}

.reservations .h6-style { color: #fff; margin-bottom: 5px; }
.reservations input {
	@include placeholder {
		text-transform: uppercase;
	}
}
.reservations .date.sprite-before:before { right:auto; left: 8px;}
.reservations fieldset { position: relative; padding-bottom: 14px; }
.reservations fieldset:before { content:""; left: 5px; right:0; border-bottom: 1px solid #807e7e; position: absolute; bottom: 9px;}
.reservations .selector { display: block; margin-bottom:0;}
.reservations .selector .value { font-size: 12px; padding: 9px;}
.reservations label { text-transform: uppercase; }

.touch .reservations .custom-input,
.reservations .rate-type .selector,
.reservations .room-type .selector { display: none;}

.touch .reservations .rate-type .selector,
.touch .reservations .room-type .selector { display: block; margin-bottom: 5px;}

.home .reservations .toggle { display: none; }
.reservations .toggle { color: #fff; display: block; text-align: center; padding: 20px; font-size: 14px; cursor: pointer; margin: -15px; position:relative;}
.reservations .toggle:before { position: absolute; top: 50%; font-size: 24px; line-height: 1; margin-top: -12px; right: 40px; }
.reservations.expanded .toggle:before {
	@include transform( rotateZ(180deg) );
}
.reservations .toggle:before { 
	@include transform( none );
	@include transform-origin( center );
	@include transition( transform $ease-in-out-back 0.4s );
}
.reservations .toggle:hover { color: lighten($blue,10); }
.reservations .custom-input { margin-right: 5px;}
.reservations .fields-wrap { overflow:hidden; max-height:0;
	@include transition( max-height 0.4s $ease-in-out-cubic );
}
.reservations.expanded .fields-wrap { max-height: 600px; }

.reservations .button { display: block; text-align: center; width: 100%; padding: 12px 0; border-width:0; margin-bottom: 15px; color:#fff;
	@include linear-gradient( to bottom, #194764, #143950 );
}
.reservations .button:hover { color: $blue; }

/* search */
@include keyframes(spinner) {
	0% { transform: rotate(0deg);  }
	100% { transform: rotate(360deg); }
}

.show-search body { overflow: hidden; }
.show-search .search-overlay {
	@include transform( none );
}

.search-overlay form { padding: 20px 50px 20px 20px; position: relative; background: $whiteBG; }
.search-overlay .loader	{ background: $whiteBG; position:  absolute; right: 20px; top:  50%; z-index:  99; margin-top:  -19px; width:  32px; height:  32px; opacity:0; filter: alpha(opacity=0); }
.search-overlay .loader,
.search-overlay .close {
	@include transition( opacity 0.25s $ease-in-out-sine );
}

.search-overlay .close { position: absolute; width: 32px; height: 32px; display: block; top: 50%; margin-top: -16px; right:20px; opacity: 0.5; z-index: 100; cursor: pointer;}
.search-overlay.is-loading .loader:before,
.search-overlay .close:before { font-size: 32px; line-height: 1; margin-top: -16px; color:#000;}
.search-overlay .close:hover { opacity: 1; }

.search-overlay.is-loading .loader { 
	@include opacity( 1 );
}
.search-overlay.is-loading .close {
	@include opacity( 0 );
}
.no-csstransforms3d .search-overlay .loader:before { display: none !important;}
.csstransforms3d .search-overlay .loader img { display: none; }
.csstransforms3d .search-overlay .loader {
	@include animation( spinner 1000ms linear infinite );
}

.no-csstransforms3d .search-overlay { display: none; }
.no-csstransforms3d.show-search .search-overlay { display: block; }

.show-search .search-overlay.no-results form { top: 50%; margin-top: -40px; }
.search-overlay form { top:0; margin-top: -100px;
	@include transition( none 0.5s $ease-in-out-back 0s );
	@include transition-property( top,margin );
}

.show-search .search-overlay form {
	@include transition-delay( 0.25s );
}

.search-overlay.with-results form {
	@include transition-property( none );
}

.search-overlay.with-results,
.show-search .search-overlay {
	@include transition-delay( 0s );
}

.show-search .search-overlay.with-results form { top:0; margin-top:0; }

.search-overlay { position: fixed; top:0; bottom:0; left:0; right:0; background: url(../images/search-overlay-bg.png); z-index: -1; visibility: hidden;
	@include transform( translate3d(0, -100%, 0) );
	@include transition( transform 0.25s $ease-in-out-sine 0.5s );
}

.show-search .search-overlay { z-index: 999; visibility: visible;}

.search-overlay .search-content { width: 1400px; margin: 0 auto; overflow: hidden; color: #fff; position: relative; height: 100%; max-width: 90%; overflow: hidden; }
.search-overlay .search-content input { width: 100%; border: none; background: $whiteBG; color: #000; font-size: 34px; outline: none; font-family: $defaultFontStack;
	@include placeholder {
		color: #000; font-size: 34px; font-family: $defaultFontStack;
	}
}

.search-overlay.with-results .search-content { position: absolute; left:0; right:0; top: 50%; margin-top: -350px; height: 700px; max-height: 100%;}
.ie8 .search-overlay.with-results .search-content { margin-top:0; top:0; height: 100%; }

.no-results.search-overlay .search-content { background: none; }
.no-results .search-results { display: none;}
.search-results .results-query {  background:  $blue; padding:  8px 20px; color:  #fff; }
.search-results { position: absolute; top:86px; left:0; right:0; bottom:0; background: $whiteBG; }
.search-results .results-list .tab-wrapper { height: 100%; position: relative;}
.search-results .results { position: absolute; top: 98px; left:0; right:0; bottom:0; overflow-y: scroll; overflow-x:hidden;}
.search-results .tab-control-wrap {display: table; width: 100%; }
.search-results .tab-control { display: table-cell; color: #000; text-transform: uppercase; font-size: 14px; cursor: pointer; background: darken($whiteBG,5); line-height: 40px; padding: 10px; text-align: center; border-left: 1px solid #e0e0e0;  }
.search-results .tab-control span { display: inline-block; background: $blue; margin-right: 10px; color: #fff; font-size: 12px; width: 24px; height: 24px; line-height: 24px; border-radius: 50%; }
.search-results .tab-control:first-child { border: none;}
.search-results .tab-control.selected { background: $whiteBG; }
.search-results .tab-wrapper { position: static;}

.search-results .results-types .selector { display: none; background: $darkBlue; color: #fff; border: solid #fff; border-width: 1px 0;}
.search-results .results-types .selector .value { color: #fff; padding: 23px;}

.search-results .result { display: block; padding: 15px; border-bottom: 1px solid #ccc; 
	@include transition( background 0.15s $ease-in-out-sine );
}
.search-results .result-img { float: left; width: 150px; height: 150px; background-repeat: no-repeat; background-position: center; background-size: cover; }
.search-results .result-img+.article-body { overflow: hidden; }
.search-results .article-body { padding: 20px 20px 0; }
.search-results .result:hover { background: darken($whiteBG,5); }

/* hotel overview */
.ov-hotel-grid { }
.ov-hotel-grid .col { }
.ov-hotel { position: relative; background-size: cover; background-repeat: no-repeat; background-position: center; display:block; text-align: center; overflow:hidden;}
.ov-hotel img { display: block; margin: 0 auto 16px; max-width: 180px;}
.ov-hotel>div { position: relative; z-index: 2; color: #fff; padding: 40px; }
.ov-hotel p { margin: 0 0 16px; font-size: 14px;}
.ov-hotel:after { content:""; position: absolute; top:0; left:0; right:0; bottom:0; background: rgba(0,0,0,0.8); z-index: 1; } 
.ov-hotel:hover .button { background-color: #000; }

/* callout */
.callout-wrap { max-width: 320px; width: 100%; margin-left: auto !important; margin-right: auto !important; position: relative; display:block;}
.callout { background: center no-repeat; background-size: cover; }
.callout .content { padding: 20px; color: #fff; }
.callout .content .title { font-size: 24px; text-transform: uppercase; text-align: left; line-height: 1.2;}
.callout .content .subtitle { text-transform: uppercase; font-size: 18px; }
.callout .content .button.full { left: 20px; bottom: 20px; position: absolute; text-align: center; }
.callout.fixedh {  height:0; overflow:hidden; }
.callout.fixedh .content { position: absolute; top:0; left:0; right:0; bottom:0;}
.callout.fixedh-625 { padding: 62.5% 0 0; }

.callout form { padding: 20px 0; }
.callout .phone { text-align: center; padding: 10px; display: block; margin: 0 -20px -20px;
	@include property-with-rgba( background, $darkBlue, 0.7 );
}

/* filter section */
.filter-bar { padding: 5px 0; background: $darkBlue;}
.filter-bar .title { line-height: 40px; }
.filter-bar .title .cat { font-size: 18px; display: inline-block; vertical-align: middle; margin-right: 3px; padding-right: 5px; border-right: 1px solid #fff; position: relative; top: -2px; line-height:1;}

.filter-bar .tab-control { color: #fff; font-size: 16px; text-transform: uppercase; display: inline-block; margin-right: 8px; outline:none; line-height:40px;}
.filter-bar .tab-control.selected { font-weight:bold;}

.filter-bar .selector { margin:0; background: $blue; }
.filter-bar .selector .value { font-style: italic; color: #fff;}

.filter-bar .selector select:focus+.value,
.filter-bar .selector:hover .value { color: #fff; }

.filter-bar:after { @extend .cf:after;}
.filter-bar form { background: $blue; line-height: normal; border: none;}
.filter-bar form input { color: #fff; line-height:1;
	@include placeholder {
		font-style: italic; color: #fff; 
	}
}
.filter-bar form button:before { color: #fff; }
.filter-bar .meta { float: right; }
.filter-bar .meta>form,
.filter-bar .meta>div { display: inline-block; vertical-align: middle; }
.filter-bar .controls button { float:left;  margin-left: 5px; }
section.filter-section { padding-top:0;}
.filter-contents { padding: 20px 0; }

/* testimonials */
.testimonial { padding: 20px; background: #fff; text-align: center;}

/* accordion - theme specific */
.accordion .count { display: inline-block; background: #a3a3a3; vertical-align: middle; text-align: center; padding: 4px 8px 6px; line-height: 1; font-size: 12px; border-radius: 12px; color: #fff; position: relative; top: -2px; margin-right: 4px; }

/* gallery */
.gallery-thumbs {
	@extend .grid;
 }
.gallery-thumb { 
	@extend .col;
	@extend .col-4;
}

.gallery-thumb a { display: block; height:0; overflow: hidden; padding: 100% 0 0; background-size: cover; background-repeat: no-repeat; background-position:center;}

/* contact locations */
.body .contact-locations-wrap { padding:0; }
.contact-locations { font-size: 12px; text-align: center; }
.contact-locations .selected,
.contact-locations .loc:hover { background: #e6e6e6; }
.contact-locations img { max-width: 100px; width: 100%;}
.contact-locations .rating { display: block; margin: 5px 0 10px;}
.contact-locations .loc { position: relative; height: 220px; padding-top:20px; cursor: pointer; display: block; color: inherit;}
.contact-locations .button { position: absolute; bottom: 20px; left:0; right:0; display: block; margin: 0 auto; width: 100px; text-align: center;}

.overview-block { }
.overview-block.with-img { min-height:224px; display: block;}
.overview-block .img-wrap { float: left; width: 224px; border-radius: 112px; position: relative; height: 224px; overflow:hidden;
	@include transform( translateZ(0) );
}
.overview-block .img-wrap .img { position: absolute; top:0; left:0; bottom:0; right:0; background: center no-repeat; background-size:cover; }
.overview-block.with-img .content { margin-left: 240px; }

/* photos-videos */
.pad-thumb { background: center no-repeat; background-size: cover; height:0; overflow: hidden; display:block; }
.pad-thumb.landscape { padding: 46.875% 0 0;}
.pad-thumb.square { padding: 100% 0 0; }
.pad-thumb.video:before { opacity:0.6; font-size: 32px; line-height: 1; margin-top: -16px; color: #fff;}
.pad-thumb.video:hover:before { opacity:1; }


/* blocks */
.blocks .item { background: #fff;
	@include display( flex );
}

.blocks .item.with-title { margin-top: 80px; position:relative;}
.blocks .item.with-title>.hgroup { position: absolute; top: -80px; left:0; right:0; }

.blocks .block { padding: 15px 15px 60px; position: relative; width: 100%; display: block; color: #000; overflow: hidden; font-size:13px;}
.blocks .img-wrap { height: 0; overflow: hidden; margin: -15px -15px 10px; position: relative; height: 150px; text-align:center; line-height: 150px;}
.blocks .bubble { background-color: $darkBlue; display: inline-block; width: 80px; height: 80px; border-radius: 40px; line-height:1; vertical-align:middle;}
.blocks .bubble:before { color: #fff; font-size: 40px; line-height:1; margin-top: -20px; }
.blocks .img { background-size: cover; background-position: center; background-repeat: no-repeat; position: absolute; top:0; left:0; right:0; bottom:0; }
.blocks .title { display: block; margin: 0 0 4px; color: $darkBlue;}
.blocks .subtitle { margin: -4px 0 8px; }
.blocks p { line-height: 1.8; }
.blocks .button { position: absolute; bottom: 15px; left: 15px; }

.overview-block .img,
.blocks .img {
	@include transition( transform 0.4s $ease-in-out-sine );
}

.csstransitions .overview-block:hover .img,
.csstransitions .blocks .block:hover .img { 
	@include transition-timing-function( $ease-out-back );
	@include transform ( scale( 1.25, 1.25 ) );
}

@import "collapsed_blocks_placeholders";

.blocks.list-view .col { @extend %collapsed-blocks-col; }

.blocks.list-view .item,
.no-flexbox .blocks .item { @extend %collapsed-blocks-item; }

.blocks.list-view .block,
.no-flexbox .blocks .block { @extend %collapsed-blocks-block;  }

.blocks.list-view .item.with-title,
.no-flexbox .blocks .item.with-title { @extend %collapsed-blocks-item-with-title;  }

.blocks.list-view .item.with-title>.hgroup,
.no-flexbox .blocks .item.with-title>.hgroup { @extend %collapsed-blocks-item-with-title-hgroup; }

.blocks.list-view .block .content .button,
.no-flexbox .blocks .block .content .button { @extend %collapsed-blocks-block-content-button; }
.blocks.list-view .block .img-wrap,
.no-flexbox .blocks .block .img-wrap { @extend %collapsed-blocks-block-img-wrap;}

.blocks.list-view .block .img-wrap~div,
.no-flexbox .blocks .block .img-wrap~div { @extend %collapsed-blocks-block-img-wrap-sibling-div; }

/* featured-block */
.featured-block { position: relative;}
.featured-block img { float: left; width: 45%; margin-right: 20px; }
.featured-block .hgroup { margin:0 0 5px; }
.featured-block .content { overflow: hidden; }

.attraction-block { cursor: pointer; }
.attraction-block.selected,
.attraction-block:hover { background: #eaeaea; }

/* partner links */
.partner-wrap { margin: 15px 0 0 -15px; }
a.partner { display: inline-block; width: 120px; height: 120px; border-radius: 60px; overflow: hidden; background: #ddd center no-repeat; background-size: cover; margin: 0 0 15px 15px; position: relative; font-weight:bold; text-transform: uppercase;
	@include transform( translateZ(0) );
}
.no-csstransforms3d a.partner>span { top: 100%; }
.no-csstransforms3d a.partner:hover>span { top: 0; }
a.partner>span { display: block; width: 100%; height: 100%; position: absolute; top:0; left:0; background: url(../images/search-overlay-bg.png) center repeat; color: #fff; opacity:0; line-height: 120px; vertical-align: middle;
	@include transition( all 0.25s $ease-in-out-sine );
	@include transform( translate3d(0,100%,0) );
}
a.partner:hover>span { opacity:1;
	@include transform( none );
}
a.partner>span span { line-height:1; }

.reward-partners a { display: block; width: 100%; }

/* split-block */
.split-block { position: relative; overflow:hidden;}
.split-block-container .sw { max-width: 100%; }
.split-block .img-wrap { position: absolute; top:0; bottom:0; background: center no-repeat; background-size: cover; width: 50%;}
.split-block .content { padding: 40px 0; width: 50%; min-height: 275px; position: relative; }
.split-block .content .inner { display: inline-block; vertical-align: middle; }
.split-block.img-left .content { padding-left: 40px; float:right;}
.split-block.img-left .img-wrap { left:0; }
.split-block.img-right .img-wrap { right:0; }
.split-block.img-right .content { padding-right: 40px; }

.hotel-gallery { position: relative; overflow:hidden; margin-bottom: -20px;}
.hotel-gallery .large-thumb { position: absolute; top:0; left:0; right: 40%; bottom:20px; display: block; background: center no-repeat; background-size: cover; }
.hotel-gallery .square-thumbs { float: right; width: 40%;}
.hotel-gallery .square-thumbs div { float: left; padding: 0 0 20px 20px; width: 50%;}

.embedded-gmap { height:100%; min-height:400px; max-height:600px; overflow:hidden; position: relative; }
#street-map.loading { background: #ccc; height: 150px !important;}
.embedded-gmap iframe { position: absolute; left:0; right:0; top:0; bottom:0; width: 100%; height: 100%; }

#street-form input { padding: 12px; }
#directions-geolocate { width: 100%; padding:13px; border: none; color: #fff; font-weight:bold; text-align: center; }
#directions-geolocate:hover { background: $darkBlue; }
.no-geolocation .geolocation-only { display: none !important; }

.direction-controls { padding:0; }
.direction-controls .direction-button { line-height: 1.4; }
.directions-tabs .grid { margin-top: 15px; margin-bottom: 15px; }


.tbl { table-layout: fixed; border-collapse: separate; width: 100%; display:table;}
.tbl .col-3 { border: none !important; width: 33.33333%; display: table-cell;}
.direction-button { padding: 16px 8px; }
.direction-button .fa { margin-right: 10px; font-size: 18px; }
.direction-button.dark-fill {background: $darkBlue;}
.direction-button.dark-fill:hover,
.direction-button.dark-fill.selected { background: $blue; }
.direction-button span:before { margin-right: 9px; }
.no-flexbox .attraction-blocks .grid,
.mobile-selector { display: none; background: $darkBlue; color: #fff;}
.mobile-selector .value { color: #fff !important; }
.no-flexbox .attraction-blocks .mobile-selector { display: block; }

.feature-block { position: relative; padding-left: 130px; min-height: 110px; border-bottom: 1px solid transparent; margin-bottom: 15px; }
.feature-block .img-wrap { position: absolute; top:0; left:0; width: 110px; }
