/* accordion colors */
$accordionHandleBorderColor: #f2f2f2;
$accordionHandleColor: #000;
$accordionHandleColorActive: #000;

$accordionHandleBGColor: #e9e9e9;
$accordionHandleBGColorActive: #e9e9e9;

/* standard accordion */
.accordion.separated .accordion-item { margin-bottom: 15px; }
.accordion-item { margin:0; }
.accordion-item-handle { display: block; position: relative; cursor: pointer; padding: 12px 44px 12px 12px; color: $accordionHandleColor; background: $accordionHandleBGColor; border: 1px solid $accordionHandleBorderColor; margin: -1px -1px 0; font-size:13px;}
.accordion-item-handle.lg { font-size: 20px; }

.accordion-item-handle:before { font-size:16px;
	position: absolute; color: #fff; width: 24px; height: 24px; line-height:24px; border-radius: 12px; background: #a3a3a3; text-align:center;
	left: auto; right:12px; top: 50%; margin-top: -12px;
	@include transform( none );
	@include transform-origin( center );
	@include transition( transform $ease-in-out-back 0.4s );
}

.expanded>.accordion-item-handle:before {
	@include transform( rotateZ(180deg) );
}

.no-csstransforms .expanded>.accordion-item-handle:before {
	/* sprite arrow */
}

.accordion-item-handle:hover,
.expanded>.accordion-item-handle { background: $accordionHandleBGColorActive; color: $accordionHandleColorActive;}
.accordion-item-handle>div { padding: 3px 10px; }
.accordion-item-content { display: none; padding: 10px; border: solid #ccc; margin: -2px 0 0; border-width: 0 1px 1px; background: #fff;}
.ie8 .accordion-item-content { display: none !important; }
.ie8 .expanded>.accordion-item-content { display: block !important; }
.start-expanded>.accordion-item-content { display: block; }
.accordion-content-item p { border: none !important; }
.accordion-item-content ol,
.accordion-item-content ul { margin:-10px; padding: 5px 0; font-size: 13px;}
.accordion-item-content ul li a { display: block; color: #000; padding: 5px 12px;}
.accordion-item-content ul li a:hover { background: #efefef }