/* colors */
$dateInputIconColor: transparent;

.date-input,
.date.input { position: relative; }
.date-input input[type=date],
.date.input input[type=date] { opacity:0; filter: alpha(opacity=0); position: relative; z-index: 2; display:block; min-height: 32px;}
.date-input span.input-label,
.date.input span.input-label { position: absolute; top:0; right:0; bottom:0; padding: 8px; z-index: 1; }
.date-input.sprite-before span.input-label,
.date.input.sprite-before span.input-label { left: 30px;}

.hasdate.date-input input,
.hasdate.date.input input,
.date-input:hover input[type=date],
.date.input:hover input[type=date] { opacity:1; filter: alpha(opacity=100); }
.hasdate.date-input span.input-label,
.hasdate.date.input span.input-label,
.date-input:hover span.input-label,
.date.input:hover span.input-label { opacity:0; filter: alpha(opacity=0); }

.date.input,
.date-input { display: block; background: #fff; color: $bodyContentColor; position: relative; padding-left: 23px;}
.date.input:after,
.date-input:after { position: absolute; left:4px; top:3px; color: $dateInputIconColor; font-size: 18px;}
.date.input input,
.date-input input { border: none; background: none; padding: 8px; width: 100%;}