$sidebarWidth: 320px;

/* main body */
.main-body { padding: 0 0 20px; }
.main-body.with-sidebar { margin-right: -#{$sidebarWidth}; float: left; width: 100%; padding-right: 40px; }
.main-body.with-sidebar>div { margin-right: #{$sidebarWidth}; }
.main-body.with-sidebar+.sidebar { float: left; width: #{$sidebarWidth}; padding: 0 0 20px 0; color: #fff; font-family: $defaultFontStack; color: $bodyContentColor;}

%article-body-light { color: $darkBlue;}
.light { @extend %article-body-light; }
@each $element in h1,h2,h3,h4,h5,h6 {
	.article-body #{$element}+ul,
	.article-body #{$element}+ol { margin-top:0; }
	.article-body #{$element},
	.article-body .#{$element}-style { 
		@extend %article-body-light; 
	}
	
	.dark-bg #{$element},
	.dark-bg .#{$element}-style { 
		color: #fff;
	}
}

.article-body { font-family: $defaultFontStack; color: $bodyContentColor; font-size: 13px;}

.article-body .excerpt,
.article-body blockquote { color: $excerptColor; font-size: 16px; line-height: 1.4; font-style: italic; margin-bottom: 15px;}
.article-head { display: block; padding: 9px 0; margin-bottom: 18px; border-bottom: 1px solid $lightGrey; font-size: 14px; overflow:hidden; text-transform: uppercase; color: $lightGrey; }

.article-head time.fa-calendar:before { color: $lightGrey; margin-right: 5px; }

.article-head .meta,
.article-head .meta:before { margin-right: 4px; }
.article-head.dark-bg { background: #000; color: #fff; }
.article-head .price,
.article-head .tag { float: right; background: $darkBlue; text-transform: uppercase; display: inline-block; padding: 3px 6px; color:#fff;}
.blocks .article-head .tag { font-size: 11px; }

.article-head .price { font-size: 18px; font-weight: normal;}
.blocks .article-head .price { font-size: 12px; }

.article-body a.inline,
.article-body span a,
.article-body p a,
.article-body li a,
.article-body blockquote a { display: inline-block; position: relative; z-index: 1; color: $linkColor; white-space: nowrap; font-weight:bold;}

.article-body a.inline:after,
.article-body span a:after,
.article-body p a:after,
.article-body li a:after,
.article-body blockquote a:after { content:""; position: absolute; left:-3px; right:-3px; top: -3px; bottom:-3px; background: $darkBlue; z-index: -1; border-radius: 4px; display:none;}

.article-body a.inline.hover:after,
.article-body span a.hover:after,
.article-body p a.hover:after,
.article-body li a.hover:after,
.article-body blockquote a.hover:after,
.article-body a.inline:hover:after,
.article-body span a:hover:after,
.article-body p a:hover:after,
.article-body li a:hover:after,
.article-body blockquote a:hover:after { display:block; }

.article-body a.inline.visited,
.article-body span a.visited,
.article-body p a.visited,
.article-body li a.visited,
.article-body blockquote a.visited,
.article-body a.inline:visited,
.article-body span a:visited,
.article-body p a:visited,
.article-body li a:visited,
.article-body blockquote a:visited { color: $visitedColor; }

.article-body a.inline.hover,
.article-body span a.hover,
.article-body p a.hover,
.article-body li a.hover,
.article-body blockquote a.hover,
.article-body a.inline:hover,
.article-body span a:hover,
.article-body p a:hover,
.article-body li a:hover,
.article-body blockquote a:hover { color: $hoverColor; }

.article-body ul,
.article-body ol { margin: 25px 0; }
.article-body li ul,
.article-body li ol { margin: 5px 0; }
.article-body li { position: relative; margin: 0 0 7px;  color: $bodyContentColor; line-height: 1.6;}
.article-body ul>li { padding-left: 18px;}
.article-body ul>li:before { content:""; width: 6px; height: 6px; border-radius: 3px; background: #000; display: block; position: absolute; 
	right: auto; left: 0; top:4px; margin-top: 4px; 
}

.article-body ul>li>ul>li:before { background: #a1a1a1; }

.article-body ol { counter-reset: li; padding-left: 10px;}
.article-body ol>li { list-style-type: none; padding-left:10px;}
.article-body ol>li:before { position: absolute; left: -10px; top: 0; content:counter(li); counter-increment:li; color: $darkBlue; font-weight:bold; }
.article-body ol ol>li:before { content:counter(li, lower-alpha); color: #918175; }
.article-body p { margin-bottom: 15px; font-size: 13px; line-height: 1.6;}
.article-body p+ul,
.article-body p+ol { margin-top:0; }

.sidebar hr,
.article-body hr { margin: 24px 0; border: solid #ccc; border-width: 1px 0 0; clear: both;}

.sidebar>div { margin: 0 0 20px; }
.sidebar .side-nav .button { font-size: 14px; border-width:1px; text-transform: none; }
.sidebar .side-nav .button+.button { margin-top: -1px; }
.sidebar .button.large { font-size: 14px; padding: 14px 8px; text-align: center; }
.sidebar .button.full { display: block; }
.sidebar .head { padding: 12px; background: $darkBlue;}

.sidebar .single-form input { font-size: 14px; padding: 10px; line-height:1;
	@include placeholder {
		font-style: italic; font-size: 14px;  
	}
}

.sidebar .single-form button { 
	@include opacity( 0.4 );
}
.sidebar .single-form button:hover,
.sidebar .single-form input:focus+button { 
	@include opacity( 1 );
}

.breadcrumbs { padding: 10px 0; border-bottom: 1px solid #e6e6e6; font-size: 14px; text-transform: uppercase;}
.breadcrumbs a { text-decoration: none; color: #939598; }
.breadcrumbs a:hover { color: #000;}
.breadcrumbs a+a:before { content:"\00BB"; display: inline-block; color: #939598 !important; line-height: 1; font-size: 22px; vertical-align: baseline; margin: 0 3px;}
.breadcrumbs a:first-child { opacity:0.6; filter: alpha(opacity=60); font-size: 20px; line-height: 1; width: 22px; height: 22px; vertical-align: middle; }
.breadcrumbs a:first-child:before { margin-top: -11px; }
.breadcrumbs a:first-child:hover { opacity:1; filter: alpha(opacity=100); }

.event-map { display: none;}
.event-map.visible { display: block; }