/* hero */
.page-wrapper { border: 1px solid transparent; }
.hero .item { display: block;}
.hero { background-color: #000; padding:0; position: relative; z-index: 2; overflow: hidden; margin-top:128px;}
.hero .swiper-wrapper { position: absolute; top:0; left:0; width: 100%; }
.hero .swiper-wrapper,
.hero .swipe,
.hero .swipe-wrap,
.hero .swipe-wrap>div,
.hero .item { height: 100%; }

.hero.single .swipe-wrap>div { float: none; }

.hero .item { position: absolute; top:0; left:0; width: 100%; z-index: 1; background-repeat: no-repeat; background-size: cover; background-position: center center;
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe,
.hero .item { 
	@include opacity( 0 );
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe {
	@include transition-delay( 0.2s );
}

.hero.loaded .swipe,
.hero .loaded>.item { 
	@include opacity( 1 );
}

.hero .caption { position: absolute; padding: 30px 0; text-align: center; left:0; right:0; bottom: 2px; text-transform: uppercase; z-index: 2;
	@include property-with-rgba( background, #194764, 0.85 );
	@include transform( translateZ(0) );
}
.hero .title { display: block; font-size: 23px; color: #fff;}
.hero .sub { display: block; font-size: 19px; color: #939598;}
.home .hero .caption .button { display: none;}


/* links and controls */
.hero .slider-controls { position: absolute; left:0; right:0; bottom: 125px; border-spacing: 4px; z-index: 10;}
.hero .slider-controls div { display: table; margin: 0 auto; width: 450px; max-width: 100%;}
.hero .slider-controls a { display: table-cell; cursor: pointer; text-indent: -999em; overflow: hidden; font-size:0; height: 14px; background: #404041;
	@include opacity( 0.6 );
}
.hero .slider-controls a.selected,
.hero .slider-controls a:hover { background: #e6e7e8; }


/* because anything taller is just silly */
body .hero { max-height: 700px; }
body.home .hero { max-height: 900px; }

@media screen and (min-width:$wrapperWidth) {
	body.home .hero { min-height: 750px; }
}

.ie8 body.home .hero { min-height: 750px; }

