/* responsive video */
.video-container {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 90%; margin: 0 auto 1em;}
.video-container iframe,  
.video-container object,  
.video-container embed,
.video-container img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.video-container img { height: auto; }