#nav-is-responsive { position: absolute; top:-999px; left: -999px; width:0; height:0; display: none;}

/* responsive grid */
@each $size in 900,850,800,750,700,650,599,500,450 {

	@media screen and (max-width: #{$size}px) {
		.no-#{$size} { display: none !important; }
		
		.collapse-#{$size}>.col>.item,
		.collapse-#{$size}>.col { width: 100% !important; display:block;}
		
		.flexbox .grid.fill.collapse-#{$size} > .col { max-width: none; }
		
		.split-screen.collapse-#{$size} { background-image: none !important; padding:0;}
		.split-screen.collapse-#{$size}.dark-left .split-screen-grid>.col-2:first-child,
		.split-screen.collapse-#{$size}.dark-right .split-screen-grid>.col-2+.col-2 { background: $darkBlue; }
		.split-screen.collapse-#{$size} .split-screen-grid>.col { padding: 20px; }
		.split-screen.collapse-#{$size} .split-screen-grid>.col-2>.item { padding:0; }
		
		.split-screen.with-border.collapse-#{$size}:after { display:none; }
		
	}
	
}

@media screen and (max-width: 1020px) {
	.latest-media-grid>.col { width: 100%; }
	.latest-media-grid .col-3 .col-2 { width: 25%; }
	
	nav { padding-right:0; }
	.nav .sw { max-width: 100%; }
	#toggle-search { display: none; }
	.meta-nav .toggle-search-form { display: block; }
}

@media screen and (max-width: 1000px) {
	.split-block .content { padding: 20px !important; }
}

@media screen and (max-width: 960px) {

	/* reorganize header */
	header { top:0; height: 70px; }
	header .logo { right: auto; top:10px; width: 120px;}
	.meta-nav { display: inline-block; vertical-align: middle; margin: 0; padding: 0; border: none; }
	.nav-wrap .social { vertical-align: middle; }
	.hero { margin-top: 70px; }


	/* reorganize nav */
	.nav-wrap { z-index: 5;}
	.nav-wrap:before { display:none;}
	header:before, 
	#toggle-search,
	.nav { height: 56px; }
	#toggle-search:before { top: 50%; margin-top: -9px; }
	header:before { top: 70px;}
	.nav { top: 70px; }	
	.nav .sw { max-width: 100%; }
	.nav .top { top: -50px; right: 10px; }
	nav ul li > div { top: 56px; }
	nav > ul > li > a { height: auto; padding: 20px 0;}
	nav { padding-left:0;}

	/* reorganize footer */
	footer .sw { padding:20px 0 0; }
	footer .footer-contact,
	footer .logo { position: static; margin: 0 auto;}
	
	.footer-contact { width:  auto; position:  relative; float: none; margin: 0; padding: 0 0 40px; }

	.footer-wrap { margin:0; }
	.footer-nav { padding-right:0; margin-bottom: 50px;}
	.footer-nav .social { position: static; display: block; margin: 40px auto;}
	.footer-nav > ul { table-layout: fixed; }
	.footer-nav > ul > li { border-width: 0 0 0 1px;}
	.footer-nav > ul > li:first-child { border-width:0;}
	.footer-nav > ul > li > a { padding: 10px 0;}

}

@media screen and (max-width: 900px) {
	.featured-block img { float: none; width:  auto; display: block; margin:  0 auto 10px; }
	
	nav .img { display: none; }
	nav .meta { margin-right:0; }
}

@media screen and (max-width: 800px) {

	/* search results */
	.search-results .results-types .selector { display: block; }
	.search-results .results-types .tab-control-wrap { display: none;}	
	
	/* collapsed sidebar */
	.main-body.with-sidebar { margin-right: 0; float: none; padding: 0 0 20px;}
	.main-body.with-sidebar>div { margin-right:0;}
	.main-body.with-sidebar+.sidebar { float: none; width: auto; padding-right:0;}
	.sidebar .no-collapse { display: none; }
	
	/* collapsed nav */
	html, 
	body.home, 
	body.home .page-wrapper, 
	.hero { height: auto; }

	.hero { height: 0; padding: 75% 0 0; min-height:0;}
	
	body { overflow-x:hidden;}

	.hero .caption { padding: 10px 0; background: rgba(0,0,0,0.65);}
	.hero .caption .title { font-size: 18px;}
	.hero .caption .sub,
	.hero .slider-controls { display: none;}

	.home .hero .caption .button { margin-top: 10px; display: inline-block; padding: 6px 16px;}

	header { border-bottom: 1px solid #fff; }
	header .sw { max-width: 100%;}
	header .logo { margin: 10px auto; position: static; }
	header .contact-box { position: static; text-align: center; margin: 15px; }

	/* reservations */
	.reservations { left: auto; bottom:0; position: absolute; width: auto; z-index: 20; background: $darkBlue;
		@include transform( translate3d(100%,0,0) );
		@include transform( none );
	}
	
	.reservations .datepicker.appended { position: static !important; margin: 10px 0 !important; }
	.reservations .fields-wrap { max-height:none; }
	.reservations .sw { max-width: 100%; min-height: 100%; }
	.reservations form { position: static; float: right; height: 100%; width: 240px; background: transparent;}
	.reservations form .col { width: 100%;}
	.reservations .rate-type .selector,
	.reservations .room-type .selector { display: block; margin-bottom: 5px; }
	.reservations .rate-type label,
	.reservations .room-type label { display: none;}

	.nav-wrap { bottom:0; right: auto; width: 240px; }
	.nav { top:0 !important; border: none; overflow-y: scroll; overflow-x: hidden;  width: 240px; z-index: 1; max-width: 100%; margin:0; border: none; height: 100%; background: $darkBlue;
		-webkit-overflow-scrolling: touch;
	}
	.nav .search-area { position: absolute; width: auto; left:0; top:0; display: block !important; height: auto; }
	.nav .search-area > button { display: none; }
	.nav .search-form { right:0; top:0; width: auto; left:0;
		@include transform( none );
	}
	
	.nav .top .sw { max-width: 100%; }
	.nav .top .sw,
	.nav .top .social { position: static; }
	.meta-nav { display: block; text-align: left; }
	.meta-nav a { float:none; }
	
	.nav .top .sw { height: auto; }
	
	.nav .top { border: none; position: static; }
	.nav .top>a { display: block; border-bottom: 1px solid #999;}
	.nav .top .social { padding: 10px 0; display:block;}

	.ios .nav-wrap { overflow: scroll; -webkit-overflow-scrolling: touch;}
	.ios .nav { overflow: scroll; -webkit-overflow-scrolling: touch; height: 105%;}

	.ios .nav,
	.ios .nav>.sw {
		@include transform( translateZ(0) );
	}

	.ios .nav>.sw { position: absolute; top:0; left:0; right:0; height: 105%;}

	nav { position: static !important; padding:40px 0 0;}
	nav>ul,
	nav>ul>li { display: block; border: none;}
	nav ul div ul { float: none; display: inline-block; background: $blue; padding: 10px; width: auto;}
	nav>ul>li>a { color: #fff; text-align: left; padding: 8px; border-bottom: 1px solid #999; line-height: 1; height: auto;}
	nav>ul>li:hover>a { background: transparent; }
	nav>ul>li>a:hover { background:#444}
	nav>ul>li>div { position: static; display: block; border: none; box-shadow: inset 0 4px 4px rgba(0,0,0,0.4); background: #111; padding:0; border-bottom: 1px solid #999; left:0; right:0; text-align:left;}
	nav ul div ul { width: auto; padding:0; display:block;}
	nav ul div ul li { margin:0; left:0; padding:0;}
	nav ul li > div:before,
	nav .link-meta { display: none; }
	
	#toggle-search { position: absolute; text-indent: 0; width: 100%; text-transform: uppercase; color: #fff; top: 0; height:  40px; background:  $darkBlue; border: none; display: block; border-bottom: 1px solid #fff; 
			@include transition( all 0s );
	}
	#toggle-search:before { left: auto; right: 15px; }
	#toggle-search:hover { background: $blue; }

	#mobile-book { display: inline-block; left: auto; right: 8px; margin:0; border-width: 1px; }
	#mobile-nav { display: block; }

	
	.page-wrapper { overflow: hidden; position: relative; z-index: 20; background-color: #fff; }
	.transform-button,
	.page-wrapper {
		@include transition( transform 0.4s $ease-in-back );	
	}
	
	.show-reservations .nav-wrap,
	.animating-reservations .nav-wrap, 
	.show-nav .reservations,
	.animating-nav .reservations { display: none;}

	.reservations .datepickerContainer { padding: 0 !important; border: none; }
	.reservations .datepicker .datepickerDoW th { font-size: 10px;}

	.show-nav,
	.show-reservations { overflow:hidden; }
	
	.reservations { overflow-x: hidden; overflow-y: auto; }
	.reservations .toggle { display: none !important; }
	
	.show-reservations .page-wrapper,
	.show-nav .page-wrapper { position: fixed; left: 0; top:0; box-shadow: 0 -4px 12px rgba(0,0,0,0.8); z-index: 20; }

	.show-reservations .transform-button,
	.show-reservations .page-wrapper,
	.show-nav .transform-button,
	.show-nav .page-wrapper {
		@include transition-timing-function( $ease-out-back );
		@include transform( translate3d(240px,0,0) );
	}

	.no-csstransforms3d .show-reservations .transform-button,
	.no-csstransforms3d .show-reservations .page-wrapper,
	.no-csstransforms3d .show-nav .transform-button,
	.no-csstransforms3d .show-nav .page-wrapper	{
		@include transform( translateX(240px) );
	}

	.show-reservations .transform-button,
	.show-reservations .page-wrapper {
		@include transform( translate3d(-240px,0,0) );	
	}

	.no-csstransforms3d .show-reservations .transform-button,
	.no-csstransforms3d .show-reservations .page-wrapper {
		@include transform( translateX(-240px) );
	}
	
	.android .page-wrapper,
	.no-csstransforms .page-wrapper { overflow: hidden; position: relative; z-index: 20; left:0;
		@include transition( left 0.25s $ease-in-out-back );
	}
	
	.android .show-nav #mobile-nav,
	.no-csstransforms .show-nav #mobile-nav { left: 240px; }

	.android .show-reservations .page-wrapper,
	.no-csstransforms .show-reservations .page-wrapper,
	.android .show-nav .page-wrapper,
	.no-csstransforms .show-nav .page-wrapper { left: 240px; position: fixed;
		@include transform( none );
	}

	.android .show-reservations .transform-button,
	.no-csstransforms .show-reservations .transform-button,
	.android .show-reservations .page-wrapper,
	.no-csstransforms .show-reservations .page-wrapper { left: -240px; }

	.csstransforms .animating .page-wrapper { position: fixed !important; }
	
	/* collapse footer */
	footer .sw { max-width: 100%;}
	.copyright,
	footer .footer-contact { max-width: 95%; margin: 25px auto;}
	.copyright { margin-bottom:0;}
	.footer-nav ul { display:  block; overflow: hidden; text-align:  left; }
	.footer-nav>ul>li { border:none; display: block;}
	.footer-nav>ul>li>a { padding: 10px; }

	.copyright { }
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
	
	/* gallery */
	.gallery-thumb { min-width: 50%; }
}

/* search results height restrictions */
@media screen and (max-height: 700px) {
	.search-overlay.with-results .search-content { margin-top:0; top:0;}
}

@media screen and (max-height: 650px) {

	.search-overlay form { padding:15px 50px 15px 15px; }
	.search-overlay .search-content input { font-size: 20px; 
		@include placeholder { font-size: 20px; }
	}
	.search-results { top: 57px;}
	.search-results .article-body { padding: 0;}
	.search-results .results-types .selector .value { padding: 10px 20px;}
	.search-results .result-img+.article-body { padding-left: 20px; }

}

@media screen and (max-height: 650px) and (max-width: 750px) {
	.search-results .results { top: 72px;}
}

/* vertically collapsed booking form */
@media screen and (max-height: 680px) and (min-width: 601px) {

	#mobile-book { position: fixed; left: auto; top: 50%; z-index: 998; right: 0; display: inline-block; margin-top: -47px;
		@include transform-origin( bottom right );
		@include transform( rotate(-90deg) );
	}	
	
	.reservations { z-index: 9999; position:  fixed; top: 0; left: auto; bottom: 0; right: 0; width: 290px;
		-webkit-overflow-scrolling: touch; 
		overflow-x:hidden; overflow-y: auto;
	
		@include property-with-rgba( background, $darkBlue, 0.85 );
		@include transform( translate3d(100%,0,0) );
	}
	
	.reservations form { background: transparent; }
	
	.ios .reservations>* {
		@include transform( translateZ(0) );
	}

	.no-csstransforms3d .reservations {
		@include transform( translateX(100%) );
	}

	.no-csstransforms3d .show-reservations .reservations {
		@include transform( translateX(0) );
	}

	.reservations form { position: static; }

	.show-reservations .reservations {
		@include transform( none );
	}

	.reservations,
	#mobile-book {
		@include transition( transform 0.25s $ease-in-out-sine );
	}

	.show-reservations #mobile-book {
		@include transform( translate3d(-290px,0,0) rotate(-90deg) );
	}

	.no-csstransforms3d .show-reservations #mobile-book {
		@include transform( translateX(-290px) rotate(-90deg) );
	}

	body.show-reservations { overflow:hidden;}
	.reservations .toggle { display: none !important; }
	.reservations .fields-wrap { max-height:none; }
	.reservations .datepicker.appended { position: static !important; margin: 10px 0 !important; height: auto !important;}
}


@media screen and (max-width: 750px) {

	/* search results */
	.search-results p,
	.search-results .button,
	.search-results .result-img { display: none;}	
	.search-results .article-body,
	.search-results .result-img+.article-body { padding:0;}
	.search-overlay .search-content { max-width: 100%;}

	/* collapse footer further */
	.footer-hotels { padding-right:0; text-align: center; }
	.footer-hotels .affiliated { position: static; width: auto; margin-top: 30px;}
	.footer-hotels ul { display:  block; overflow: hidden; }
	.footer-hotels li { display: inline-block; width: 150px; margin: 10px; }
	
	.attraction-blocks .mobile-selector { display: block; }
	.attraction-blocks .grid { display: none; }
}

@media screen and (max-width: 700px) {
	.split-block .content { min-height:0; }
	.split-block-container+.split-block-container { border-top: 1px solid #ddd; }
	.split-block .img-wrap { display: none; }
	.split-block .content { width: auto; }
}

@media screen and (max-width: 650px) {
	.blocks.list-view .block .img-wrap { display: none; }
	.blocks.list-view .block .img-wrap~div { margin-left:0; }
	
	/* filter bar */
	.filter-bar { padding: 10px; }
	.filter-bar .sw { max-width: 100%; }
	.filter-bar .meta { float: none; }
	.filter-bar .meta>div,
	.filter-bar .meta form { display: block; margin: 5px 0; }
	.filter-bar .title { padding-right: 100px; }
	.filter-bar .controls { position: absolute; right:0; bottom:-5px; }
	
	.hotel-page .responsive-tab-selector { display: block; width: 100%; background: #333;}
	.hotel-page .responsive-tab-selector+.tbl-wrap { display: none; }
	
	.hotel-gallery,
	.hotel-gallery+hr { display: none; }
	
	.copyright .social { position:static; text-align:left; padding: 0 0 15px;}
	
	.directions-controls .mobile-selector { display: block; }
	.direction-controls .tbl-wrap  { display: none; }
}

@media screen and (max-width: 600px) {

	.overview-block.with-img { min-height:0; }
	.overview-block.with-img .content { margin:0; }
	.overview-block .img-wrap { display: none; }

}

@media screen and (max-width: 500px) {

	header .logo { max-width: 40%;}

	.hero .caption .title { font-size: 14px;}

	/* breadcrumbs */
	.breadcrumbs a { display: block; }
	.breadcrumbs a:first-child { display: none; }
	.breadcrumbs a:before { display: none; }
	
	#jac { position: relative; display: inline-block; right:0; margin: 10px 0 0;}
	
	body .hero { height: 320px; }
	
	.feature-block { padding-left:0; min-height:0;}
	.feature-block .img-wrap { display: none; }

}

@media screen and (max-width: 450px) {
	#mobile-book-now { font-size: 12px; line-height: 29px; padding: 5px 8px; }
}